<!DOCTYPE html>
<html>
  <head>
    <title>PropertyFinder4</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= render "layouts/style/css" %>
    <%= render "layouts/nav/public" %>
  </head>

  <body>
    <%= yield %>
    <%= render "layouts/style/js" %>
    <%= render "layouts/footer" %>
    </body>
</html>
